*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: inherit;
}

:root {
  --bg-color: #444;
  --bg-color-2: #999;
  --bg-color-3: #ddd;
  --text-color: #fff;
  --text-color-2: #000;
  --nav-color: #111;
  --background-carousel: #ddd;
  --footer-color: #111;
}

body, header, nav, ul, li, a, span, section, div, main, footer, aside, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--bg-color), var(--bg-color-2), var(--bg-color-3));
  font-family: "Montserrat";
  min-height: 100vh;
  scroll-behavior: smoot;
  background-color: #333;
  color: white;
  font-family: "Montserrat";
  display: flex;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
}

p {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

h1 {
  margin-top: .5rem;
  text-align: center;
  color: wheat;
  font-size: 2rem;
}

.fp__form {
  box-shadow: 0 0 10px #fff;
  background: linear-gradient(#000a, #0009);
  justify-content: center;
  width: 40%;
  max-width: 1200px;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 1rem;
  border-radius: 10px;
}

label {
  display: block;
	font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

input, .fp__btn {
	width: 100%;
  height: 3.5rem;
  padding: 1rem;
  outline: none;
	border: none;
	border-bottom: 3px solid #fff;
  border-radius: 3px;
	box-shadow: 3px 3px 3px #000;
	background-color: #111;
	color: var(--text-color);
  transition: all .3s ease-in;
  cursor: pointer;
}

input::placeholder {
  color: #999;
}

input:focus {
 	border-bottom: 3px solid #0075ff;
  box-shadow: 3px 0 10px rgba(0, 0, 0, .4);
}

.email__container {
  position: relative;
}

.email{
  position: absolute;
  right: .7rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  color: #fff;
}

.fp__btn {
  width: 50%;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: 600;
  line-height: 0;
  transition: all .1s ease;
  cursor: pointer;
}

.fp__btn:hover {
  box-shadow: 3px 3px 3px #555;
}

.login__rAccount {
  text-align: center;
  margin: 10px 0;
}

.fp__aPassword{
  text-align: center;
}

a {
  text-decoration: none;
  color: wheat;
  text-decoration: underline;
}

.account {
  text-align: center;
  margin-bottom: 10px;
}
