* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("login.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #333;
  color: white;
  font-family: "Montserrat";
  min-height: 100vh;
  scroll-behavior: smooth;
  display: flex;
}

h1 {
  margin-top: .5rem;
  text-align: center;
  color: wheat;
}

.login__form {
  justify-content: center;
  width: 50rem;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin: auto;
  gap: 1rem;
  border-radius: 20px;
}

input {
  padding: 1rem;
  margin-bottom: .5rem;
  border: none;
  border-radius: 5x;
}

a {
  text-decoration: none;
  color: wheat;
  text-decoration: underline;
}

.login__rAccount {
  text-align: center;
  margin: .5rem 0;
}

.login__fPassword{
  text-align: end;
  margin-bottom: .5rem;
}

.login__btn {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 50%;
  background-color: wheat;
  margin: auto;
}