*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  box-sizing: inherit;
}

:root {
  --bg-color: #444;
  --bg-color-2: #999;
  --bg-color-3: #ddd;
  --text-color: #fff;
  --text-color-2: #000;
  --nav-color: #111;
  --background-carousel: #ddd;
  --footer-color: #111;
}

body, header, nav, ul, li, a, span, section, div, main, footer, aside, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background: linear-gradient(to bottom, var(--bg-color), var(--bg-color-2), var(--bg-color-3));
  font-family: "Montserrat";
  min-height: 100vh;
  scroll-behavior: smoot;
  background-color: #333;
  color: white;
  font-family: "Montserrat";
  display: flex;
}

h1 {
  font-size: clamp(2rem, 3vw, 3rem);
}

p {
  font-size: clamp(1rem, 1.2vw, 1.125rem);
}

/* HEADER */

.header {
  background-color: var(--nav-color);
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  align-items: center;
  height: 11vh;
  width: 100%;
  animation: header-movement forwards;
  animation-timeline: scroll();
  animation-range: 1% 10%;
}

.header__logo-container {
  display: block;
  position: relative;
  z-index: 10;
  max-width: 1200px;
  width: clamp(9%, 90%, 10vh);
  margin: auto 0;
  filter: contrast(1.5);
}

.header__logo-img {
  position: absolute;
  inset: 0;
  margin: auto;
  padding: 0;
  max-width: 1200px;
  width: clamp(7%, 50%, 10vh);
  border-radius: 50%;
  border: 3px solid #111;
  filter: drop-shadow(0 0 4px #111) contrast() invert();
}

.header__nav {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.header__nav-list {
  display: flex;
  gap: 1rem;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.header__nav-item {
  list-style: none;
}

.header__nav-item:hover {
  outline: 2px solid #fff;
  border-radius: 5px;
  filter: drop-shadow(0 0 4px #000);
}

.link>span {
  display: flex;
  font-size: 2.5rem;
  filter: drop-shadow(0 0 1px #222);
}

.link {
  display: flex;
  gap: .5rem;
  text-decoration: none;
  color: var(--text-color);
  font-size: 2rem;
  filter: drop-shadow(0 0 5px #aaa);
}

h1 {
  margin-top: 5px;
  text-align: center;
  color: wheat;
}

.register__form {
  justify-content: center;
  width: 500px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  background-color: #333;
  margin: auto;
  gap: 10px;
  border-radius: 20px;
}

input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.register__btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 50%;
  background-color: wheat;
  margin: 5px auto;
}

a {
  text-decoration: none;
  color: wheat;
  text-decoration: underline;
}

.register__account {
  text-align: center;
  margin-bottom: 5px;
}
